<div id="welcome" style="background:#FFF">
  <header id="header">
    <span class="glyphicon glyphicon-map-marker"></span>
    <span class="city">北京</span>
    <span class="community">龙湖社区</span>
  </header>
  <div id="content">
    <div class="container-fluid">
      <div class="row" ng-repeat="items in catagory|group:3">
        <div class="col-xs-4 col-sm-4" ng-repeat="item in items">
          <div class="box">
            <a class="cell" href="#/{{ item.href }}">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="category">{{ item.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>