<?xml version="1.0" encoding="UTF-8"?>
<root>
	<datasources>
		<ds name="$project.dbName"
			driverClassName="com.mysql.jdbc.Driver"
			url="jdbc:mysql://$project.dbDNS:3306/$project.dbName?defaultBatchValue=1000"
			username="username"
			password="password!"
			maxActive="50"
			maxIdle="50"
			maxWait="10"
            check="true"
		/>
		 <ds name="idCenterDS"
			driverClassName="com.mysql.jdbc.Driver"
			url="jdbc:mysql://gemantic.weibo.db:3306/resources?defaultBatchValue=1000"
			username="root"
			password="123456"
			maxActive=""
			maxIdle=""
			maxWait=""
            check="true"
		/>  
	</datasources>
	<groups>
		<group name="$project.dbName" master="$project.dbName"  />			
	</groups>
</root>

