      if(log.isInfoEnabled()){
      log.info(" get ${method_entry.value.returnField.cname}s by $method_entry.value.daoParamForListMethod()  : " + $method_entry.value.methodLog() );
	  }
	 	$method_entry.value.returnField.ctype ${method_entry.value.returnField.cname}List = null;
        
        // TODO 参数检查!

        if (start == null) {
            start = 0;
        }

        if (limit == null) {
            limit = Integer.MAX_VALUE;
        }

	try {
		${method_entry.value.returnField.cname}List = dao.getIdList("${method_entry.value.name}", new Object[] { $method_entry.value.daoNoPageSizeParamForListMethod()},start,limit, false);

   
   } catch (DaoException e) {
			log.error(" get ${method_entry.value.returnField.cname}s  wrong by $method_entry.value.daoParamForListMethod())  : " + $method_entry.value.methodLog() );
			log.error(e);
			e.printStackTrace();
			throw new ServiceDaoException(e);
		}
  if(log.isInfoEnabled()){
   log.info(" get ${method_entry.value.returnField.cname}s success : " + (${method_entry.value.returnField.cname}List == null ? "null" : ${method_entry.value.returnField.cname}List.size()));
  }
		return ${method_entry.value.returnField.cname}List;
		
