<form role="form" name="captchaForm" ng-submit="submit()" autocomplete="false">
  <div class="form-group form-group-first">
    <input type="text" name="captcha" ng-model="captcha" class="form-control" id="inputCapcha" placeholder="请输入验证码" cs-number cs-focus required ng-pattern="/^\d{4,8}$/" ng-if="!message" />
  </div>
  <div class="form-group form-group-first has-error" ng-if="message" ng-click="$parent.message=''">
    <input type="text" name="message" ng-model="message" class="form-control no-bg" readonly />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary full-width" ng-disabled="captchaForm.$invalid || processing">
      <span ng-hide="processing">{{ submitText || '注册账号' }}</span><span ng-show="processing">请稍后...</span>
    </button>
  </div>
  <div class="form-group">
    <small ng-if="!resend">{{ remaining }}秒后可重新发送</small>
    <a ng-if="resend" class="small" ng-click="refresh()">重发验证码</a>
  </div>
</form>