<div id="reference">
  <div class="main text-light">
    <p>请和您委托的装修公司负责人共同到物业办理装修入场许可。需携带材料如下：</p>
    <dl class="indent">
      <dt class="text-default">您的个人信息材料：</dt>
      <dd>- 身份证原件</dd>
      <dd>- 购房合同</dd>
    </dl>
    <dl class="indent">
      <dt class="text-default">装修公司信息材料：</dt>
      <dd>- 营业执照</dd>
      <dd>- 现场负责人身份证原件</dd>
    </dl>
    <dl class="indent">
      <dt class="text-default">手续费用：</dt>
      <dd>- 您需缴纳的费用合计为：￥{{ total|number:2 }}</dd>
      <dd>
        <span class="tiny text-muted details">
          ( 包括：
          <span class="item" ng-repeat="item in charge.deposit">{{ item.name }} ￥{{ item.money|number:2 }}</span>
          <span class="item" ng-repeat="item in charge.expense">{{ item.name }} ￥{{ item.money|number:2 }}</span>)
        </span>
      </dd>
    </dl>
    <dl class="indent">
      <dt class="text-default">现场需要您签字确认：</dt>
      <dd>- 您的装修图纸</dd>
      <dd>- 装修授权委托书</dd>
      <dd>- 其他相关装修规定</dd>
    </dl>
  </div>
  <div class="full-width" style="position:absolute;bottom:10px;padding: 0 15px;">
    <a type="submit" class="btn btn-primary full-width" href="tel:010-60238889">预约办理装修许可: 010-60238889</a>
  </div>
</div>