<dd>
  <a class="desc" ng-click="nextStep(item)">
    <span class="status pull-right" ng-hide="!action" ng-class="{'text-light': muted}">{{ action }}</span>
    <span class="apartment text-default" ng-transclude></span>
  </a>
  <ul class="list-unstyled text-muted small" ng-if="group">
    <li class="clearfix" ng-repeat="item in group">
      <span class="pull-left">{{ item.time|date:'yyyy-MM-dd HH:mm' }}</span>
      <span class="pull-right">{{ item.status|decorateStatus }}</span>
    </li>
  </ul>
</dd>

