<div class="history">
  <a class="text-default" ui-sref="decorate.progress({decorateId: decorate.id})" ng-repeat="decorate in decorates">
    <dl class="terms tiny">
      <dt class="clearfix">
        <span class="pull-left text-light">序列号：{{ decorate.id }}</span>
        <span class="pull-right text-warning">{{ decorate.status|decorateStatus }}</span>
      </dt>
      <dd class="simulate-control">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-6 col-sm-6 text-overflow">
              <span class="text-muted">社区：</span>{{ decorate.buildingName }}
            </div>
            <div class="col-xs-6 col-sm-6">
              <span class="text-muted">申请日期：</span>{{ decorate.time|date:'yyyy-MM-dd' }}
            </div>
          </div>
        </div>
      </dd>
      <dd class="simulate-control text-overflow"><span class="text-muted">申请人：</span>{{ decorate.userName }} {{ decorate.userMobile }} @{{ decorate.roomName }}</dd>
      <dd class="simulate-control text-overflow"><span class="text-muted">装修公司：</span>{{ decorate.provider }}</dd>
    </dl>
  </a>
</div>