<div class="have-house" ng-if="!(groups|empty)">
  <dl class="terms" ng-repeat="(community, houses) in groups">
    <dt class="small text-light">{{ community }}</dt>
    <dd ng-repeat="house in houses">
      <a class="desc" ng-if="house.decorateId" ui-sref="decorate.progress({decorateId: house.decorateId})">
        <span class="status pull-right" ng-class="{'text-muted': house.status === 2}">{{ house.status|houseStatus }}</span>
        <span class="apartment text-overflow text-default">{{ house.apartment }}</span>
      </a>
      <a class="desc" ng-if="!house.decorateId" ui-sref="decorate.invitation({houseId: house.id})">
        <span class="status pull-right" ng-class="{'text-muted': house.status === 2}">{{ house.status|houseStatus }}</span>
        <span class="apartment text-overflow text-default">{{ house.apartment }}</span>
      </a>
    </dd>
  </dl>
  <div class="correction small text-muted">
    <p>房间信息不对？</p>
    <p>请联系客服确认：<a href="tel:01060898888">010-60898888</a></p>
  </div>
</div>
<div class="havent-house" ng-if="groups|empty">
  <div class="correction small">
    <p>啊哦，系统未搜索到与您相关的房间信息~ <br />其实您有相关的房间？</p>
    <p>请联系客服确认：<a href="tel:01060898888">010-60898888</a></p>
  </div>
</div>