<div class="request">
  <form name="delegateForm" ng-submit="submitRequest()">
    <dl class="terms">
      <dt class="small text-light">请选择委托的装修公司</dt>
      <dd class="select">
        <select class="form-control" name="provider" ng-model="provider" ng-options="provider.name for provider in providers" required>
          <option value="">请选择</option>
        </select>
      </dd>
    </dl>
    <div ng-show="delegateForm.provider.$valid">
      <dl class="terms">
        <dt class="small text-light">您的装修需求</dt>
        <dd>
          <input class="form-control" name="date" type="date" ng-model="date"  placeholder="选择预计开工的日期" required />
        </dd>
      </dl>

      <dl class="terms">
        <dt class="small text-light">您的个人信息</dt>
        <dd class="simulate-control clearfix">
          <span class="pull-left">张三先生</span>
          <span class="pull-right text-holder">186****5297</span>
        </dd>
      </dl>

      <dl class="terms">
        <dt class="small text-light">您要装修的房间是</dt>
        <dd class="simulate-control">
          {{ house.community }} {{ house.apartment }}
        </dd>
      </dl>
    </div>

    <div ng-hide="delegateForm.provider.$valid" class="correction small">
      <a ui-sref="decorate.reference">您想委托的装修公司不在列表？</a>
    </div>

    <div class="full-width" style="position:absolute;bottom:10px;padding: 0 15px;">
      <button type="submit" class="btn btn-primary full-width" ng-disabled="delegateForm.$invalid">提交</button>
    </div>
  </form>
</div>