<p class="message">您已申请装修验收，我们会尽快与您和您的装修公司联络，实施验收。</p>
<dl class="terms small">
  <dt class="text-warning text-right">待物业反馈</dt>
  <dd class="simulate-control"><span class="text-muted">社区：</span>{{ decorate.house.community }}</dd>
  <dd class="simulate-control"><span class="text-muted">申请人：</span>张先生 186****5297 @{{ decorate.house.apartment }}</dd>
  <dd class="simulate-control"><span class="text-muted">装修公司：</span>{{ decorate.provider.name }}</dd>
</dl>
<div class="full-width" style="position:absolute;bottom:10px;padding: 0 15px;">
  <p class="text-muted tiny">您也可以随时关注我的装修手续，了解办理进展。</p>
  <a ui-sref="decorate.progress({decorateId: decorate.id})" class="btn btn-default full-width">查看我的装修手续</a>
</div>
