<div class="decorate-progress">
  <div class="title small text-light">北京时代天街10栋1单元1601室 装修单</div>
  <dl class="terms">
    <decorate-progress stage="before" decorate-id="decorateId" items="progress">在线提交装修许可申请</decorate-progress>
  </dl>
  <dl class="terms">
    <decorate-progress stage="process" decorate-id="decorateId" items="progress">现场办理装修许可</decorate-progress>
  </dl>
  <dl class="terms">
    <decorate-progress stage="after" decorate-id="decorateId" items="progress">在线申请验收&amp;押金退款</decorate-progress>
  </dl>
</div>