<div id="reference">
  <div class="main text-light">
    <p>请了解以下龙湖社区供应商备案须知，尽快携带必须材料，来物业备案。</p>
    <dl class="indent">
      <dt class="text-default">请携带以下材料：</dt>
      <dd>- 公司营业执照复印件</dd>
      <dd>- 法人身份证复印件</dd>
      <dd>- 法人手机号</dd>
      <dd>- 现场负责人身份证原件及复印件</dd>
      <dd>- 现场负责人手机号</dd>
    </dl>
    <dl>
      <dt class="text-default">请到这里来备案：</dt>
      <dd>北京时代天街 客服中心</dd>
      <dd>地址：北京市大兴区广平路3号B102</dd>
      <dd>电话：<a href="tel:010-60238899">010-60238899</a></dd>
    </dl>
  </div>
  <div class="full-width" style="position:absolute;bottom:10px;padding: 0 15px;">
    <a type="submit" class="btn btn-primary full-width">将《备案须知》分享给装修公司</a>
  </div>
</div>